<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <ol>
      <li v-for="book in books">{{book}}</li>
    </ol>
    <input id="input" type="text" v-model="newBook">
    <button @click="addBook">Add Book</button>
  </div>

  <script src="app.js"></script>
</body>

</html>
