<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <span v-if="seen">Now you see me</span>
    <span v-else="seen">Change seen flag to see the message</span>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        seen: true
      }
    })
  </script>
</body>

</html>
