<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <ol>
      <li v-for="book in books">{{book.title}}</li>
    </ol>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        books: [
          { title: "7 habits" },
          { title: "Zen and motorcycle maintenance" },
          { title: "How Will You Measure Your Life" }
        ]
      }
    })
  </script>
</body>

</html>
