<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <p>{{ name }}</p>
    <button v-on:click="reverse">Reverse</button>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name: "joseph"
      },
      methods: {
        reverse: function () {
          this.name = this.name.split("").reverse().join("");
        }
      }
    })
  </script>
</body>

</html>
