<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <p>My name is: {{ name }}</p>
    <input v-model="name" />

  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name: "joseph"
      }
    })
  </script>
</body>

</html>
