<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <ol>
      <book-list v-for="item in books" v-bind:book="item" v-bind:key="item.id"></book-list>
    </ol>
  </div>

  <script>
    Vue.component('book-list', {
      props: ['book'],
      template: '<li>{{ book.title }}</li>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        books: [
          { id: 1, title: "7 habits" },
          { id: 2, title: "zen and motorcycle" },
          { id: 3, title: "steve jobs" }
        ]
      }
    })

  </script>
</body>

</html>
