<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script src="https://unpkg.com/vue"></script>
  <style type="text/css">
    body {
      padding-top: 40px
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <modal v-if="showModal" @close="showModal=false">
      <p>
        Hey I am here
      </p>

    </modal>
  </div>
  <button @click="showModal=true">Show</button>
  <script src="app.js"></script>
</body>

</html>
