<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
</head>

<body>
  <div id="app" class="container">
    <coupon @coupon-applied="onCouponApplied"></coupon>
    <h1 v-if="couponApplied">You used a coupon</h1>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
</body>

</html>
