<template>
  <div class="pt4 pt5-ns">
    <header class="tc mt4">
      <h2 class="f6 gray fw2 ttu tracked">Sign-up</h2>
    </header>
    <form class="measure center" @submit.prevent="processForm">
      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="(error,id) in errors" :key="id">{{ error }}</li>
        </ul>
      </p>
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="email">
          Email
        </label>
        <input class="pa2 input-reset ba w-100" type="email" name="email" id="email" required v-model="email" />
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">
          Password
        </label>
        <input class="b pa2 input-reset ba w-100" type="password" name="password" id="password" required autocomplete="off" v-model="password" />
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">
          Repeat Password
        </label>
        <input class="b pa2 input-reset ba w-100" type="password" name="password" id="password2" required autocomplete="off" v-model="password2" />
      </div>
      <div class="">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib br-pill" type="submit" value="Sign up"
        />
      </div>
      <div class="lh-copy mt3">
        <a href="#0" class="f6 link dim black db">
          Sign in
        </a>
      </div>
    </form>
  </div>
</template>

<script>
// customized axios
import http from "../utils/http";

export default {
  name: "Signup",
  props: {},
  data() {
    return {
      errors: [],
      email: "",
      password: "",
      password2: ""
    };
  },
  created() {
    console.log("token: ", this.$store.getters.token);
  },
  methods: {
    async processForm() {
      this.errors = [];

      if (!this.email) {
        this.errors.push("Email is required.");
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Valid email is required.");
      }

      if (!this.password) {
        this.errors.push("Password is required.");
      } else if (this.password !== this.password2) {
        this.errors.push("Both passwords are not same");
      }

      if (this.errors.length) {
        return true;
      } else {
        try {
          // post to server
          await http.post("/users", {
            email: this.email,
            password: this.password
          });
          this.$store.commit("setToken", this.email);
          console.log("token after set: ", this.$store.getters.token);
          this.$router.push("/signin");
        } catch (e) {
          console.log(e);
          this.errors.push(e);
        }
      }
    },
    validEmail: function(email) {
      // eslint-disable-next-line
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
