<template>
  <div class="pt4 pt5-ns">
    <header class="tc mt4">
      <h2 class="f6 gray fw2 ttu tracked">Sign-in</h2>
    </header>
    <form class="measure center" >
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="email">
          Email
        </label>
        <input class="pa2 input-reset ba w-100" type="email" name="email" id="email"  />
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">
          Password
        </label>
        <input class="b pa2 input-reset ba w-100" type="password" name="password" id="password" autocomplete="off" />
      </div>
      <div class="">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib br-pill" type="submit" value="Sign in"
        />
      </div>
      <div class="lh-copy mt3">
        <a href="#0" class="f6 link dim black db">
          Sign up
        </a>
        <a href="#0" class="f6 link dim black db">
          Forgot your password?
        </a>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "Signin",
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
